/* -- GAME -- */

.gameLink, .gameLink:link, .gameLink:visited {
    text-decoration: none;
}

.gameSection {
    user-select: none;
}

.gameCover {
    outline-style: solid;
	outline-width: 0px;
	outline-color: #fdc76c;
    outline-offset: 8px;

    opacity: 0.86;

    transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
}
.gameCover:hover {
	outline-width: 12px;

    transition: outline-width 0.1s ease-in-out;

    opacity: 1;

    transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
}

.gameSpecs {
    color: #212121;

    background-color: #fdc76c;
    backdrop-filter: blur();

    text-align: center;
    margin: -30px -20px 0px -20px;

    line-height: 5px;
}
.gameSpecs > h1 {
	font-size: 30px;

    padding-top: 25px; 
}
.gameSpecs > p {
    font-size: 20px;

    padding-bottom: 25px;
}
