/* -- GENERAL -- */

body {
	background-color: #212121;
	margin: 0px;
}
::selection {
	color: #212121;
  	background: #fdc86cb6;
}

/* -- NAVBAR -- */

.navbar {
	user-select: none;

	box-sizing: border-box;
	width: 100%;

	background-color: rgb(20, 20, 20);

	padding: 20px;
	padding-left: 100px;
}
.navbarList {
	display: inline;
	margin: 40px;
	margin-left: 0px;
}
.navbarLink, .navbarLink:link, .navbarLink:visited {
	color: #fdc86cb6;
	text-decoration: none;
	
	font-size: 30px;
	font-weight: bold;
}
.navbarLink:hover {
	color: #fdc76c;
	transition: color 0.5s ease;
}
