body {
	background-color: #2d2d2d;
}

.navbar {
	display: inline-block;
	list-style-type: none;
	margin-top: 50px;
	margin-left: 100px;
}
.navbarList {
	display: inline;
	margin: 25px;
	margin-left: 0px;
}
.navbarLink, .navbarLink:link, .navbarLink:visited {
	text-decoration: none;
	color: #fdc76c;
	
	font-size: 30px;
	font-weight: bold;
}
