/* -- GENERAL -- */

:root {
	background-color: #212121;

	text-decoration: none;

	color: white;
	font-family: Barlow;
}
::placeholder {
	opacity: 0.69;

	font-family: Barlow;
	font-weight: thin;
}
::-webkit-scrollbar {
	background: #2b2b2b;
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: #fdc76c;
}

/* -- HEADER -- */

.headerSection {
	margin-top: 0px;
	
}
.headerSection > h1 {
	user-select: none;

	color: #fdc76c;

	margin: 0px 100px 20px 100px;

	backdrop-filter: blur(10px);
	font-size: 60px;
	width: 0px;

	line-height: 60px;
}
.headerSection > p {
	margin: 0px 100px 0px 100px;

	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	padding: 5px 20px 5px 20px;
}
.headerImage {
	user-select: none;

	display: grid;

	margin-bottom: -660px;
}

/* -- FEATURED -- */

.featuredSection {
	margin: 300px 100px 0px 100px;

	margin-top: 100px;
}
.featuredSection > h1 {
	user-select: none;

	color: #fdc76c;

	font-size: 60px;
	width: 0px;
}
.featuredTitle {
	display: flex;
	justify-content: space-between;
}

/* -- FORM -- */

.formSection {
	scrollbar-width: none;

	margin: 0px 100px 0px 100px;
}
.formSection > h1 {
	user-select: none;

	color: #fdc76c;

	backdrop-filter: blur(10px);
	font-size: 60px;
	width: 0px;
}
.formContainer {
	background-image: url("./images/palico.png");
	background-position: bottom 0px right 20px;
	background-repeat: no-repeat;
	background-size: 450px;

	margin: 0px 10px 0px 10px;
	padding: 20px;

	outline-style: solid;
	outline-width: 3px;
	outline-color: #fdc76c;
	outline-offset: 5px;
	display: grid;

	margin-bottom: 50px;
}
.formContainer > label {
	user-select: none;

	color: #fdc76c;

	font-weight: bold;
}
.formContainer > input, .formContainer > textarea {
	resize: none;

	border-style: solid;
	border-color: #fdc76c;

	width: 70%;

	font-weight: thin;
}
.formContainer > input:focus, .formContainer > textarea:focus {
	outline: none;
}
.formContainer > button {
	user-select: none;

	cursor: pointer;

	margin-top: 20px;
	padding: 5px 10px 5px 10px;

	width: fit-content;

	font-size: 20px;
	font-weight: bold;

	background-color: transparent;

	border-style: solid;
	border-color: #fdc76c;
	border-width: 2px;

	color: #fdc76c;

	opacity: 0.69;

	transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}
.formContainer > button:hover {
	opacity: 1.0;

	transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}

/* -- GAMES -- */

.gamesSection {
	user-select: none;

	text-align: center;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	column-gap: 25px;
	row-gap: 25px;

	margin: 40px 40px 40px 40px;
}
.gamesContainer {
	padding: 40px;

	height: 360px;
	width: 360px;

	background-color: #1a1a1a;
}
.gamesLink, .gamesLink:link, .gamesLink:visited {
	text-decoration: none;
}
.gamesCover {
	margin-bottom: -13px;
}
.gamesCover {
    outline-style: solid;
	outline-width: 0px;
	outline-color: #fdc76c;
}
.gamesCover:hover {
	outline-width: 5px;

    transition: outline-width 0.1s ease-in-out;
}
.gamesSpecs {
	color: #212121;

    line-height: 15px;

	background-color: #fdc76c;
}
.gamesSpecs > h1 {
	font-size: 16px;

	margin-bottom: -8px;
    padding-top: 5px;
}
.gamesSpecs > p {
	font-size: 12px;

    padding-bottom: 25px;
}
.gamesSpecs > h2 {
	color: #fdc76c;
	
	font-size: 12px;
	font-weight: bold;
	
	margin-top: -35px;
	padding: 5px;

	background-color: #2b2b2b;
}
